/*1. Global*/
/*2. Sections*/
/*3. Functions*/
/*4. Animations*/


/*1. Global */

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    opacity: 85%;

}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
}

p {
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
}



/*2. Sections */
nav {
    
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0px;
    padding:10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 21px;
    text-align: center;
    background-color: #D9C589;
    z-index: 99;
   
}
nav a {
    color: black;
    text-decoration: none;
    margin: 0px 10px;
}

nav h3 {
    display: inline-flex;
    font-family: 'Permanent Marker', cursive;
    font-size: 21px;
    color: black;
    text-align: left;
    justify-content:left;
    padding-right: 50px;
    

    
    
}

nav a:hover {
    text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

#header {
    box-sizing: border-box;
    background-image: url(../jonfarmer.github.io/Resources/Images/20190815_170726-01.jpeg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}

.about-box {
    box-sizing: border-box;
    display:inline-flex;
    align-content: space-between;
    background-color: #BF9765;
    width: 100%;
}

.about {
    display:flexbox;
    margin: 30px;
    padding-left: 30px;
    height: 100%;
    width: 50%;
    align-self: center;
}

.prof-pic{
    display: flexbox;
    border-radius: 50%;
    height: 80%;
    max-height: 600px;
    width: 80%;
    max-width: 600px;
    image-rendering: optimizeSpeed;
    justify-items: center;
    margin: 40px 100px 40px 30px;
    padding-left: 30px;
    
}

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.proj-img-one {
    flex-grow: 1;
    background-image: url(../jonfarmer.github.io/Resources/Images/jen-theodore-tWqyWrqLntU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 50%;

}

.proj-img-two {
    flex-grow: 1;
    background-image: url(../jonfarmer.github.io/Resources/Images/harrison-broadbent-nePxBIvqUlU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 50%;
}

.projects-text {
    flex-grow: 1;
    background-color: #45858C;
      
}

.projects-text h2,
.projects-text h3 {
    width: 80%;
}